[submodule "targets/libexpat"]
	path = targets/libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "targets/libconfig"]
	path = targets/libconfig
	url = https://github.com/hyperrealm/libconfig.git
[submodule "targets/libucl"]
	path = targets/libucl
	url = https://github.com/vstakhov/libucl.git
